.top-banner{
    text-align: center;
    text-transform: uppercase;
  }
#current-card {
  text-align: center;
  margin-bottom: 4px;
}
#current-card img, .deck img{
  height: 23%
}
#current-card button{
  width: 150px;
  height: 44px;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 2px #5fcf80;
  border-radius: 0px;
  margin-top: 80px;
}
#hand, #hand2{
  text-align: center;
}
#hand2{
  margin-bottom: 4px;
}
#hand img, #hand2 img{
  height: 140px;
  width: 120px;
  margin-right: 2px;
}
.btns{
  margin-top: 4px;
  margin-bottom: 4px;
}
.btns button{
  border-radius: 0px;
}
.btns #start{
  margin-left: -16px;
}
